dist: trusty
language: node_js
node_js:
- '12'
addons:
  chrome: stable
before_script:
- java -jar tests/ui/selenium-server-standalone-3.141.59.jar &
script:
- npm install
- CHROMEDRIVER_VERSION=LATEST npm install chromedriver
# Run tests
- if [ $TRAVIS_REPO_SLUG == "mongodb-developer/SocialStats" ] ; then
    echo "Production build so only running unit tests, which don't hit the database";
    ./node_modules/.bin/jest --runInBand ./tests/unit/;
  else 
    echo "Non-production build so running all tests. The database will be cleared as part of these tests.";
    ./node_modules/.bin/jest --runInBand;
  fi
after_success:
# If the tests pass on Staging, push the commits to Production
- if [ $TRAVIS_REPO_SLUG == "mongodb-developer/SocialStats-Staging" ] ; then
    git push https://${GITHUB_TOKEN}@github.com/mongodb-developer/SocialStats.git;
  fi
